body {margin: 0, padding: 0;background-color: grey;}

@media(min-width:768px) {

  .container-1 {
  display: flex;
  /* align-items: flex-start; */
  /* this is default
  /* align-items: stretch; */
  flex-direction:row;
  }

  .container-2 {
    display:flex;
    justify-content: space-between;
  }
}

.container-3 {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-1 div, .container-2 div, .container-3 div {
  border:1px #ccc solid;
  padding:10px;
}

.box-1 {
flex:1;
order:3;
}

.box-2 {
flex:1;
}

.box-3 {
flex:2;
}

.container-box-2 {
  /* setting the width */
  flex-basis: 25%;
}

.container-box-3 {
  flex-basis:10%;
}
